.container{
  display:grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 10px 100px;
}


body{
  background-color: #ddd;
  overflow-x: hidden;
  width: 100%;
}

button{
  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
border-radius: 10px;
padding: 10px 30px;
color:#fff;
border:none;
}
.textPart{
  font-family:Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  color:#240d57;
 justify-self: flex-end;
 text-align: right;
}
.textPart p{
  font-size: 24px;
  color:#4F4F4F;
}
.snap{
  font-size: 64px;
  font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;

}


@media screen and (max-width:1024px){
  .container{
    grid-template-columns: 1fr;
    padding: 10px 10px;
  }
  .textPart{
    order: 1;
    justify-self: center;
 text-align: center;
  }
  .imagePart{
    order:2;
    margin: 0 auto;
  }
  button{
    order:3;
    width:fit-content;
    margin:0 auto;
  }
}